/* ProductCard.css */
.product-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 1.25rem;
    color: #ff6600; /* Change the color to your preference */
  }
  
  button {
    background: #27ae60;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 17px 30px;
    margin-top: 20px;
}